.detail-item-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: relative;
}

.item {
  border: none;
}

.event-box {
  position: absolute;
  left: 30%;
  top: 50%;
}
.tab-nav-container {
  width: 80vw;
}
