.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-bg {
  background: url(/public/img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
}

.item-container {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-btn-box {
  display: flex;
  justify-content: flex-end;
  width: 80vw;
}